[Unit]
Description = picam360-capture daemon

[Service]
ExecStart = /home/pi/.nodebrew/current/bin/node /home/pi/picam360/picam360-server/app.js >/tmp/picam360_server_stdout 2>/tmp/picam360_server_sterr
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target